html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-canvas { 
    height: 100%;
    margin-left: 80px;
}

#location-popup {
    padding: 2em 1em;
    border: 1px solid #ddd;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 4in; height: 6in;
    font-family: sans-serif;
    color: #888;
}

#location-popup table {
    border-collapse: collapse;
}

#location-popup th {
    color: purple;
    font-weight: normal;
    text-align: left;
}

#location-popup tbody tr:hover {
    background-color: #f3e8f8;
}

#location-popup td, #location-popup td {
    padding: 0.3em 1.5em;
}

h4.courseName {
    font-weight: normal;
    margin-top: 1em;
    color: purple;
    margin-bottom: 0.1em;
    padding-bottom: 0;
}

div.description {
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

div.contactInfo {
    font-size: 85%;
}

button {
    margin-left: auto;
    margin-right: 0;
    width: 6em;
    background-color: purple;
    color: white;
    padding: 0.3em 1.5em;
    border-radius: 0.3em;
    border: none;
}
