html { height: 100% }
body { 
    font-family: Helvetica, Arial, sans-serif; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-weight: lighter; 
}


.select_wrapper {
    width: 160px;
    overflow: hidden; 
    border: 1px solid #784cc6;
    background: url(images/icon_dropdown.png) no-repeat right;
}

.filter_menu {
    width: 190px;
    font-size: 18px;
    color: #784cc6;
    border: none;
    background: #fff;
    background: transparent;
    font-weight: lighter;
    padding: 5px;
    -webkit-appearance:none;
}

#map-canvas { 
    height: 100%;
    margin-left: 242px;
}

#location-popup {
    padding: 1.5em 1em;
    border: 1px solid #ddd;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 4in; 
    font-family: sans-serif;
    color: #888;
}

#location-popup table {
    border-collapse: collapse;
}

#location-popup th {
    color: #784cc6;
    font-weight: normal;
    text-align: left;
    padding: 0px .5em;
}

.organization {
    font-size: 18px;
    color: #666666;
    margin-top: 30px;
}

.address {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}

.course {
    cursor: pointer;
    background: url(images/icon_class_arrow.png) right 5px no-repeat;
}

.course:hover {
    background-color: #f3e8f8;
}

.course_holder {
    height: 30px;
    overflow: hidden;
    border: 1px solid;
}

.course_wrapper {
    max-height: 150px;
    overflow: auto;
}

#navigation {
    width: 242px;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    box-shadow: 3px 3px 4px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}

#logo {
    margin: 20px auto;
    text-align: center;
}

#navigation ul {
    margin: 0px;
    padding: 0px 10px;
}

#navigation li {
    margin: 10px 0px;
    padding: 0px;
    list-style: none;
    padding-left: 45px;
}

.start_date {
    background: url(images/navigation_icons.png) 0 0 no-repeat;
}

.level {
    background: url(images/navigation_icons.png) 2px -44px no-repeat;
}

.cost {
    background: url(images/navigation_icons.png) 0px -90px no-repeat;
}

.day {
    background: url(images/navigation_icons.png) 0px -130px no-repeat;
}

.time {
    background: url(images/navigation_icons.png) 0px -177px no-repeat;
}

#location-popup td, #location-popup td {
    padding: 6px .5em;
    font-size: 14px;
}

.name {
    text-decoration: underline;
}

h4.courseName {
    font-weight: normal;
    margin-top: 1em;
    color: #784cc6;
    margin-bottom: 0.1em;
    padding-bottom: 0;
}

div.description {
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

div.contactInfo {
    font-size: 85%;
}

button {
    margin-left: auto;
    margin-right: 0;
    width: 6em;
    background-color: #784cc6;
    color: white;
    padding: 0.3em 1.5em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
}

.hide {
    float: right;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url(images/icon_close_default.png) top left no-repeat;
}

.hide:hover {
    background: url(images/icon_close_over.png) top left no-repeat;
}
