html { height: 100% }
body { font-family: Helvetica, Arial, sans-serif; height: 100%; margin: 0; padding: 0 }


.select_wrapper {
    width: 160px;
    overflow: hidden; 
    border: 1px solid #784cc6;
    background: url(images/icon_dropdown.png) no-repeat right;
}

.filter_menu {
    width: 190px;
    font-size: 18px;
    color: #784cc6;
    border: none;
    background: #fff;
    background: transparent;
    font-weight: lighter;
    padding: 5px;
    -webkit-appearance:none;
}

#map-canvas { 
    height: 100%;
    margin-left: 242px;
}

#location-popup {
    padding: 2em 1em;
    border: 1px solid #ddd;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 4in; height: 6in;
    font-family: sans-serif;
    color: #888;
}

#location-popup th {
    color: purple;
    font-weight: normal;
}

#navigation {
    width: 242px;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    box-shadow: 3px 3px 4px #999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}

#logo {
    margin: 20px auto;
    text-align: center;
}

#navigation ul {
    margin: 0px;
    padding: 0px 10px;
}

#navigation li {
    margin: 10px 0px;
    padding: 0px;
    list-style: none;
    padding-left: 45px;
}

.start_date {
    background: url(images/navigation_icons.png) 0 0 no-repeat;
}

.level {
    background: url(images/navigation_icons.png) 2px -44px no-repeat;
}
